h5py~=3.7.0
numpy~=1.23.4
SQLAlchemy~=1.4.43
fastapi~=0.86.0
pydantic~=1.10.2
rasterio~=1.3.3
starlette~=0.20.4
sqlalchemy-json~=0.5.0
Rtree~=1.0.1
geojson-pydantic~=0.4.3
inquirerpy~=0.3.4
jsonschema~=4.17.0
tabulate~=0.9.0
pandapower~=2.12.1
pandas~=2.0.1
pyproj~=3.5.0
setuptools~=65.5.1
geopandas~=0.14.0
shapely~=2.0.1
ezdxf~=1.1.0
geojson~=3.0.1
numpy-stl~=3.2.0
saas @ git+https://github.com/cooling-singapore/saas-middleware@869ebef3abcc343621f39bd4bed9c6794a96c379
sentry-sdk==1.4.3
python-dotenv
